<header>
	<div class="row">
		<ul class="header-menu">
			<li><a href="#" data-section="home">Home</a></li>
			<li><a href="#" data-section="about-us">About Us</a></li>
			<li><a href="#" data-section="clients">Clients</a></li>
			<li><a href="#" data-section="contact">Contact</a></li>
			<li class="contact-info"><a href="mailto:team@meetqualia.com">team@meetqualia.com</a></li>
		</ul>
	</div>
</header>

<section class="main-section" id="home">
	<div class="title-bar">
		<div class="title">Qualia | Studios</div>
	</div>
</section>

<section class="team-section section black" id="about-us">
	<div class="team-section-title section-title white">
		Who are we?
	</div>
	<div class="team-description">
		We are a group of passionate developers and data scientists committed to bringing your ideas to life. We work across technologies and platforms - from Rails to Clojure to R, and everything in between.
	</div>
	<div class="photo-container">
		<% @team_members.each do |member| %>
			<div class="photo-port" title="" data-name="<%= member[:name] %>" data-desc="<%= member[:desc] %>">
				<a href="#"><img class="photo" src="<%= asset_path(member[:image]) %>"></a>
			</div>
		<% end %>
	</div>
</section>

<section class="client-section section" id="clients">
	<div class="client-section-title section-title black">
		Select Clients
	</div>
	<div class="clients-container">
		<img class="client-link" src="<%= asset_path('stanford.png')%>" alt="Stanford">
		<img class="client-link" src="<%= asset_path('stanford.png')%>" alt="Stanford">
		<img class="client-link" src="<%= asset_path('stanford.png')%>" alt="Stanford">
		<img class="client-link" src="<%= asset_path('codecademy.png')%>" alt="Codecademy">
		<img class="client-link" src="<%= asset_path('codecademy.png')%>" alt="Codecademy">
		<img class="client-link" src="<%= asset_path('codecademy.png')%>" alt="Codecademy">
	</div>
</section>

<section class="client-section section" id="contact">
	<div class="client-section-title section-title black">
		Contact Us
	</div>

	<%= simple_form_for @contact_form do |f| %>
		<%= f.input :name, :required => true %>
		<%= f.button :submit, "Send message" %>
	<% end %>
	
</section>
